<div class="fp-wrapper">
    <div class="fp-online-status-wrapper" hidden>
        <div class="fp-online-status" data-text-offline="Offline" data-text-online="Back online" data-status="online"></div>
    </div>
    <div class="fp-container container">
        <div class="fp-play-pause material-icons" data-status="paused" data-tippy-content="Play" data-text-play="Play" data-text-pause="Pause"></div>
        <div class="fp-radio-name-wrapper">
            <div class="fp-radio-name"></div>
        </div>
        <div class="fp-song-name-wrapper">
            <div class="fp-song-name"></div>
        </div>
        <div class="fp-volume-slider-wrapper">
            <div class="fp-volume-toggle material-icons" data-tippy-content="Volume">volume_up</div>
            <div class="fp-volume-slider"></div>
        </div>
    </div>
</div>
