<li class="radio-list-item" data-radio-name="{{ radio.name }}" data-radio-url="{{ radio.url }}">
    <div class="radio-play-button material-icons" data-tippy-content="Change radio">play_arrow</div>
    <div class="radio-name">{{ radio.name }}</div>

    <div class="radio-more material-icons" data-tippy-content="More">more_vert</div>
    <ul class="dropdown-items radio-more-items" data-radio-name="{{ radio.name }}" data-radio-url="{{ radio.url }}">
        <li class="dropdown-item radio-edit">Edit Radio</li>
        <li class="dropdown-item radio-delete">Delete Radio</li>
    </ul>
</li>

