$color-background-dark: #252525;
$color-text-bright: #fefefe;

$color-background-accept: #28a745;
$color-background-cancel: #dc3545;

$color-border-input: #bbb;
$color-border-input-focus: #4a90d9;

$color-shadow-dark: #222;
$color-shadow-bright: #666;