@import "colors";

body.dark {
  color: #ddd;

  nav {
    box-shadow: 0 0 0.5rem black;
  }

  main {
    background-color: #181818;

    .radio-list-item {
      border-color: #ddd !important;
    }
  }

  .fp-wrapper {
    background-color: #0f0f0f;
    box-shadow: 0 0 0.5rem black;
    border-top: none;
  }

  .modal {
    background-color: #222;

    .modal-close {
      background-color: transparent;
      border-bottom: 1px solid #bbb;

      &:hover {
        background-color: #0003;
      }
    }

    .modal-accept {
      border-top: 1px solid $color-background-accept;
    }

    .modal-cancel {
      border-top: 1px solid $color-background-cancel;
    }

    .modal-cancel, .modal-accept {
      background-color: transparent;
      margin-top: -1px;

      &:hover {
        background-color: #0003;
      }
    }
  }

  form .form-group input {
    background-color: #111;
    border-color: #333;

    color: #ddd;
  }

  .dropdown-items .dropdown-item {
    background-color: #333;
    &:hover {
      background-color: darken(#333, 4);
    }
  }
}