@font-face {
  font-family: 'DejaVu Sans';
  src: local('DejaVu Sans'),
    url('~dejavu-fonts-ttf/ttf/DejaVuSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: local('DejaVu Sans Extra-Light'),
    url('~dejavu-fonts-ttf/ttf/DejaVuSans-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}