
<ul class="navbar-icons">
    {% for item in items %}
        <li class="navbar-icon material-icons" data-tippy-content="{{ item.name }}" data-menu-persistent="{{ loop.index0 < minShown }}" data-menu-index="{{ items.indexOf(item) }}" data-menu-shown="true">{{ item.icon }}</li>
    {% endfor %}

    {% if dropdownAvailable %}
        <li class="navbar-icon navbar-dropdown-toggle material-icons" data-tippy-content="More" data-menu-shown="false">more_vert</li>
    {% endif %}
</ul>

{% if dropdownAvailable %}
    {% set dropdownItems = items.slice(minShown, items.length) %}
    <ul class="dropdown-items navbar-dropdown-items">
        {% for item in dropdownItems %}
            <li class="dropdown-item" data-menu-index="{{ items.indexOf(item) }}">{{ item.name }}</li>
        {% endfor %}
    </ul>
{% endif %}