<div class="modal-wrapper">
    <div class="modal">
        <div class="modal-header">
            <div class="modal-title">{% block title %}{% endblock %}</div>
            <div class="modal-close material-icons" tabindex="0">close</div>
        </div>
        <div class="modal-content">{% block content %}{% endblock %}</div>
        {% if showButtons|default(true) %}
            <div class="modal-buttons">
                <div class="modal-cancel" tabindex="0">{% block cancel %}{% endblock %}</div>
                <div class="modal-accept" tabindex="0">{% block ok %}{% endblock %}</div>
            </div>
        {% endif %}
    </div>
</div>