<form novalidate>
    <div class="form-group">
        <label for="radio-name">Name</label>
        <input id="radio-name" type="text" value="{{ radio_name }}">
    </div>
    <div class="form-group">
        <label for="radio-url">URL</label>
        <input id="radio-url" type="url" value="{{ radio_url }}">
    </div>
</form>