{% extends './_modal.njk' %}
{% block title %}Delete {{ radio_name }}{% endblock %}
{% block content %}
    Do you really want to delete "{{ radio_name }}"?
{% endblock %}
{% block ok %}Yeah{% endblock%}
{% block cancel %}Naw{% endblock %}

