{% extends './_modal.njk' %}
{% block title %}Edit Radio {{ radio_name }}{% endblock %}
{% block content %}
    {% include './_radio_form.njk' %}
{% endblock %}
{% block ok %}Oll korrect{% endblock%}
{% block cancel %}I changed my mind{% endblock %}

