{% extends './_modal.njk' %}
{% block title %}New Radio{% endblock %}
{% block content %}
    {% include './_radio_form.njk' %}
{% endblock %}
{% block ok %}Looking good{% endblock%}
{% block cancel %}Maybe later{% endblock %}

