{% extends './_modal.njk' %}
{% block title %}Settings{% endblock %}
{% block content %}
    <form novalidate>
        <div class="form-group">
            <label for="dark-theme">Use dark theme</label>
            <input id="dark-theme" type="checkbox" {{ "checked" if darkThemeEnabled }}>
        </div>
    </form>
{% endblock %}
{% set showButtons = false %}
