@import "~nouislider/distribute/nouislider.css";
@import "~tether-drop/dist/css/drop-theme-arrows-bounce.css";
@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/dist/themes/google.css";
@import "util/material_icons";
@import "structure/footer-player";
@import "structure/radio_list";
@import "structure/navbar";
@import "structure/container";
@import "structure/modal";
@import "structure/form";
@import "util/fonts";
@import "util/dark";
@import "structure/loading-splash";
@import "util/menu";
@import "structure/dropdown";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "DejaVu Sans", sans-serif;
  font-weight: lighter;

  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  overflow: hidden;
}

main {
  flex-grow: 1;
  overflow: auto;
}

ul {
  list-style-type: none;
}