.dropdown-items {
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0.75rem black;

  .dropdown-item {
    font-size: 1.4rem;
    background-color: white;
    padding: 0.75rem;

    &:hover {
      cursor: pointer;
      background-color: darken(white, 10);
    }
  }
}

