@import "../util/colors";

.fp-wrapper {
  border-top: 1px solid black;
  box-shadow: 0 0 0.5rem $color-shadow-bright;
}

.fp-online-status-wrapper {
  .fp-online-status {
    display: flex;
    justify-content: center;
    padding: 0.25rem;
    font-weight: bold;
    color: $color-text-bright;

    &[data-status="offline"] {
      background-color: $color-background-cancel;
    }

    &[data-status="online"] {
      background-color: $color-background-accept;
    }
  }
}

.fp-container {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;

  grid-template-areas: "play-pause radio-name volume-slider" "play-pause song-name volume-slider";
  grid-template-columns: min-content minmax(0, 1fr) min-content;
}

.fp-play-pause {
  grid-area: play-pause;
  margin: 0 0.5rem;
  height: 3rem;
  font-size: 3rem;
  align-self: center;

  &:hover {
    cursor: pointer;
  }

  &[data-status="playing"]::after {
    content: 'pause';
  }

  &[data-status="paused"]::after {
    content: 'play_arrow';
  }
}

.fp-radio-name {
  grid-area: radio-name;
  font-size: 1.5em;
}

.fp-radio-name, .fp-song-name {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
}

.fp-song-name-wrapper, .fp-radio-name-wrapper {
  overflow: hidden;
  margin-left: 0.5rem;
  display: flex;
}

.fp-song-name {
  grid-area: song-name;
  font-size: 1.25em;
}

.fp-volume-slider-wrapper {
  grid-area: volume-slider;

  display: flex;
  justify-content: center;
  align-items: center;

  .fp-volume-toggle {
    font-size: 2rem;
    margin: 0 0.5rem;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.fp-volume-slider {
  height: 10rem;
}