@import "../util/colors";

form {
  padding: 0.5rem;
  display: grid;

  grid-template-columns: [start] min-content [middle] 1fr [end];
  grid-row-gap: 1rem;

  .form-group {
    margin-bottom: 1rem;
    display: contents;

    label {
      grid-column-start: start;
      grid-column-end: middle;

      align-self: center;
      justify-self: end;
      margin-right: 0.5rem;

      white-space: nowrap;

      &::after {
        content: ':';
      }
    }

    input {
      grid-column-start: middle;
      grid-column-end: end;

      background: white;
      border: 1px solid $color-border-input;
      border-radius: 3px;
      line-height: 2.25em;
      padding: 1px 0.5em;
      box-sizing: content-box;

      &:focus {
        border: 2px solid $color-border-input-focus !important;
        padding: 0 calc(0.5em - 1px);

      }
    }
  }
}