@import "../util/colors";

.loading-splash {
  background-color: $color-background-dark;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  color: $color-text-bright;

  position: absolute;

  .loading-splash-title {
    font-size: 2.5rem;
  }
}