@import "../util/colors";

.modal-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0006;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  width: 40em;
  max-width: 100%;
  margin: 1.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 8px #0008;
}

.modal-header {
  display: flex;
  justify-content: space-between;

  .modal-title {
    font-size: 1.4rem;
    padding: 1rem;
    flex-grow: 1;
    border-bottom: 1px solid $color-border-input;
  }

  .modal-close {
    font-size: 1.75rem;
    padding: 1rem;
    background: $color-background-cancel;
    color: $color-text-bright;
    display: flex;
    align-items: center;

    &:hover, &:focus {
      cursor: pointer;
      background-color: darken($color-background-cancel, 10);
    }
  }
}

.modal-content {
  padding: 1rem;
}

.modal-buttons {
  display: flex;

  .modal-cancel, .modal-accept {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: 50%;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.75rem;

    &:hover {
      cursor: pointer;
    }
  }

  .modal-cancel {
    background-color: $color-background-cancel;
    color: $color-text-bright;

    &:hover, &:focus {
      background-color: darken($color-background-cancel, 10);
    }
  }

  .modal-accept {
    background-color: $color-background-accept;
    color: $color-text-bright;

    &:hover, &:focus {
      background-color: darken($color-background-accept, 10);
    }
  }
}