@import "../util/colors";

nav {
  background-color: $color-background-dark;
  box-shadow: 0 0 0.5rem $color-shadow-dark;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $color-text-bright;

    .logo {
      font-size: 2rem;
      align-self: center;
      padding: 1rem;
      flex-shrink: 0;
    }

    .navbar-icons-wrapper {
      display: flex;
      overflow: hidden;

      .navbar-icons {
        display: flex;
        padding: 0;
        margin: 0;
        flex-shrink: 0;

        .navbar-icon {
          font-size: 1.75rem;
          margin: 0.5rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}