.radio-list {
  padding: 1rem 0;
  margin: 0;

  .radio-list-item {
    display: flex;
    align-items: center;
    border-top: 1px solid black;

    &:last-child {
      border-bottom: 1px solid black;
    }

    .radio-play-button {
      font-size: 3rem;
      margin: 1rem;
      
      &:hover {
        cursor: pointer;
      }
    }

    .radio-name {
      font-size: 1.4rem;
      flex-grow: 1;
    }

    .radio-more {
      font-size: 1.5rem;
      margin: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}